<html>
<head>

<style type=text/css>

p {    color: #0ecc8a;    
font-weight: 900;   
font-size: 20px;    
font-family: Helvetica, Arial, sans-serif;   
 }

</style>
</head>

<body>



<p>se esta pagina apareceu talvez tenha ocorrido um error ou digitou os parametros errados.</p>


</body>
</html>