<%- include('header'); -%>
<!DOCTYPE html>
<html lang="en">
    <head>
        <!--Meta Tags-->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">        
        <link rel="stylesheet" href="/index.css">
        <title>Shadow Slor Dashboard</title>   
        <meta name="description" content="Shadow Slortez Dashboard">
            <meta property="og:title" content="Slortez Dashboard">
            <meta property="og:type" content="article">
            <meta property="og:url" content="https://noice.allysonluiz1.repl.co/">
            <meta property="og:image" content="blob:https://imgur.com/d0d720b1-9501-4181-8aad-c12ec1416cf5">
            <meta property="og:site_name" content="Shadow Slortez Dashboard">
            <meta property="fb:admins" content="100001589384006">
            <meta property="fb:app_id" content="1778569572376490">
            <meta property="og:description" content="Shadow Slortez">
            <meta name="twitter:card" content="summary_large_image">
            <meta name="twitter:site" content="@Allyson.S16#5586">
            <meta name="twitter:creator" content="@Allyson.S16#5586">
            <meta name="twitter:title" content="Shadow Slor Dashboard">
            <meta name="twitter:description" content="@Allyson.S16#5586">
            <meta name="twitter:image:src" content="blob:https://imgur.com/d0d720b1-9501-4181-8aad-c12ec1416cf5z">    
    </head>
    <body>
    
        <!--HEADER-->
        
        <!--MAIN BODY-->
      <section style="margin-bottom: 0;">
        <div class="d-flex justify-content-center head">
            <h1 style="font-weight: 900;">
                <img src="<%= botClient.user.displayAvatarURL({size: 4096}) %>" style="width: 4%;margin-top: -0.5%;"> <span style="font-size: 40px;"><span style="color:#2b447a;"><%= botClient.user.username %></span></span>
              </h1>
        
        </div>
        <div class="d-flex justify-content-center subtext">
            <p style="font-style: italic;font-size: 30px;">Shadow Bot E um Bot Feito Para Utilidades atualmente em <%= Guild %> guilds</p>
            
        </div>

    

</head>
<body>



  